<div class="gym-menu">A</div>
<div class="gym-wrapper">
  <div class="gym-info">
    <img src="img/face.png" alt="Avatar" />
    <h3>Joan Harris</h3>
    <p>
      Joan is a big fan of cross-fit and cardio. Her goal is to gain stamina.
    </p>
    <div class="icons">
      <span>{% include icon-clock.html %}</span>
      <span>{% include icon-medal.html %}</span>
      <span>{% include icon-crosshair.html %}</span>
    </div>
  </div>
  <div class="gym-chart">
    <div id='chart'></div>
  </div>
  <div class="gym-stats">D</div>
  <div class="gym-bars">E</div>
</div>
